.newArrivalsWrap {
  padding-top: 150px;
}

.newArrivals {
  height: 148px;
  background-color: #f8f3f4;
}

.newArrivalsText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.newArrivalsText h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.newArrivalsText a {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.newArrivalsText a:hover {
  color: #f16d7f;
}

.accordion {
  margin-top: 80px;
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card .card-header {
  background-color: #ffffff !important;
  border-bottom: 0px !important;
}

.card .card-header .btn-link {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.card .card-header .btn-link:hover {
  text-decoration: none;
}

.card-body h2 {
  color: #222222;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-body span {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
}

.card-body .form-group {
  margin-top: 27px;
}

.card-body .form-group label {
  color: #222222;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-body .form-group .form-control {
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 0px;
}

.card-body .form-group .red {
  color: #ff0d0d;
  font-size: 13px;
  font-weight: 600;
}

.card-body .form-check {
  padding-left: 0rem;
  margin-top: 20px;
}

.card-body .form-check a {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  padding-left: 0px;
}

.card-body .form-check label {
  color: #222222;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-body .form-check-radio {
  padding-left: 1rem;
}

.card-body .btn {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}

.card-body .btn-continue {
  margin-top: 41px;
}

.card-body a {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding-left: 32px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-body a:hover {
  text-decoration: none;
  color: #f16d7f;
}

.btn:hover {
  color: #fff;
  background-color: #f16d7f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn.focus, .btn:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #e21632;
  border-color: #f16d7f;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=checkout.css.map */